<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://serverless-funcs1-sj.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8b37879f-76b0-4891-8aa3-90cceafd1eda/resourceGroups/serverless-funcs-sj-1/providers/Microsoft.Web/sites/serverless-funcs1-sj</ResourceId>
    <UserName>$serverless-funcs1-sj</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://serverless-funcs1-sj.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>